---
import MainLayout from '../layouts/MainLayout.astro';
import HeroImage from '../images/maxim-kostenko-xH_TvMt3dSU-unsplash.jpg';
---

<MainLayout>
	<section class='hero flex min-h-[95vh] flex-col justify-center'>
		<article
			class='col-span-12 row-span-2 mx-8 mb-8 flex flex-col justify-center'
		>
			<span class='font-body text-2xl'>cultivating</span>
			<span class='flex text-[10rem] font-bold leading-none'>SELF MASTERY</span>
			<span class='ml-60 font-body text-2xl'>through</span>
			<span class='flex justify-center text-[10rem] font-bold leading-none'
				>MARTIAL ARTS</span
			>
			<p class='text-xl'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
			</p>
		</article>
	</section>

	<section class='features'>
		<h2 class='font-heading text-3xl font-bold'>Features</h2>
		<ul class='grid grid-cols-4 gap-4'>
			<li class='flex flex-col items-center justify-center'>
				<h3 class='text-xl font-bold'>Feature 1</h3>
				<p class='text-center'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
					quod.
				</p>
			</li>
			<li class='flex flex-col items-center justify-center'>
				<h3 class='text-xl font-bold'>Feature 2</h3>
				<p class='text-center'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
					quod.
				</p>
			</li>
			<li class='flex flex-col items-center justify-center'>
				<h3 class='text-xl font-bold'>Feature 3</h3>
				<p class='text-center'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
					quod.
				</p>
			</li>
			<li class='flex flex-col items-center justify-center'>
				<h3 class='text-xl font-bold'>Feature 4</h3>
				<p class='text-center'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
					quod.
				</p>
			</li>
		</ul>
	</section>
</MainLayout>
