---
const { title } = Astro.props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class='bg-slate-800 text-gray-100'>
		<main>
			<header class='mx-8 mt-6 flex justify-between border-gray-100 border'>
				<a
					href='/'
					class='py-4 px-8 text-5xl font-semibold text-yellow-200 border-r border-gray-100'
				>
					Brand
				</a>
				<nav class='flex'>
					<ul class='m-auto flex'>
						<li class='mx-4'><a href='/projects'>Programs</a></li>
						<li class='mx-4'><a href='/about'>Instructors</a></li>
						<li class='mx-4'><a href='/contact'>Youth Program</a></li>
					</ul>
				</nav>
				<section class='p-4 border-l border-gray-100'>
					<button class='bg-slate-100 text-gray-800 h-full my-auto px-4 py-2'
						>Get Started</button
					>
				</section>
			</header>
			<slot />
			<footer><span>footer</span></footer>
		</main>
	</body>
</html>
