---
import '../styles/global.css';
const { title } = Astro.props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Forum&family=Jura:wght@300;400;500;600;700&display=swap'
			rel='stylesheet'
		/>
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class='bg-zinc-900 text-gray-100'>
		<main>
			<header class='mx-8 mt-6 flex justify-between border border-gray-100'>
				<a
					href='/'
					class='border-r border-gray-100 py-4 px-8 font-display text-5xl font-semibold text-red-600'
				>
					Brand
				</a>
				<nav class='flex'>
					<ul class='m-auto flex'>
						<li class='mx-4'><a href='/projects'>Programs</a></li>
						<li class='mx-4'><a href='/about'>Instructors</a></li>
						<li class='mx-4'><a href='/contact'>Youth Program</a></li>
					</ul>
				</nav>
				<section class='border-l border-gray-100 p-4'>
					<button class='my-auto h-full bg-zinc-800 px-4 py-2 text-gray-100'
						>Get Started</button
					>
				</section>
			</header>
			<slot />
			<footer><span>footer</span></footer>
		</main>
	</body>
</html>
